/* 
#00bfff
#00ace6
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}
 
::-webkit-scrollbar-thumb {
    background:#999;
}

a,
a:hover,
a:focus {
    transition: all 0.5s;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

#sidebar {
    background: #00bfff;
    /*z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;*/
    width: 250px;
    height: 100vh;
    padding: 0;
    margin: 0;
    transition: all 0.5s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #00ace6;
    color: white
}

#sidebar ul li a {
    color: white;
}

#sidebar ul li a:hover {
    background: white;
    color: #00bfff;
    /* border-color: white; */
}

#sidebar ul li a.active {
    background: #00ace6;
    color: white;
}

#sidebar ul ul {
    background: #00ace6;
    color: white;
}

#sidebar ul ul a{
    padding-left: 30px;
}

#sidebar ul a[aria-expanded="true"] {
    background: #00ace6;
}

/* ---------------------
    dropdown icon
--------------------- */

#sidebar ul a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */

#content {
    background: #E2C06F;
}