html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

a,
a:hover,
a:focus {
    transition: all 0.5s;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

#sidebar {
    background: pink;
    z-index: 999;
    /*position: fixed;
    top: 0;
    bottom: 0;
    left: 0;*/
    width: 250px;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#sidebar ul li a:hover {
    background: #57a8ff;
    color: white;
    /* border-color: white; */
}

#sidebar ul li a.active {
    background: deepskyblue;
    color: white;
}

#sidebar ul ul {
    background: deepskyblue;
    color: white;
}

#sidebar ul a[aria-expanded="true"] {
    background: deepskyblue;
}

/* ---------------------
    dropdown icon
--------------------- */

#sidebar ul a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */

#content {
    background: yellow;
}